# **1. 단순 선형 회귀 분석**
전복의 나이를 예측하는 선형회귀모델을 생성하세요.
전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 입력하면 ‘껍질의 고리수’를 예측한 뒤 예측된 ‘껍질의 고리수’에 1.5를 더하면 전복의 나이가 됩니다.

In [80]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [81]:
# 데이터 로드
data = pd.read_csv("C:/Users/Jaewon/ESAA/abalone.csv")
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

In [82]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [83]:
# X,y 데이터 선택
y = data['Rings'] 

X = data.astype('float').drop('Rings', axis=1)

 **3) train/test set 분리**

In [84]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [85]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [86]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [87]:
#선형회귀모델 생성 및 훈련
modelrl = LinearRegression()
modelrl.fit(X_train, y_train)

LinearRegression()

In [88]:
# 모델 예측치 구하기
pred = modelrl.predict(X_test)

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [89]:
# 필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

- MSE, RMSE

In [90]:
#mse, rmse
rmse_rl = mean_squared_error(y_test, pred)**0.5
mse_rl = mean_squared_error(y_test, pred)

print(mse_rl, rmse_rl)

4.28513366601874 2.0700564402978823

- R2 score

In [91]:
#R2 score 측정
r2_score(y_test, pred)

0.5777507613083152

- 회귀 절편값

In [92]:
#회귀 절편 값
modelrl.intercept_

-206868039393211.56

- 회귀 계수 값

In [93]:
#회귀 계수 값
modelrl.coef_

array([-3.77946185e+00,  1.53582132e+01,  8.05616696e+00,  8.68487392e+00,
       -1.88118829e+01, -1.06992463e+01,  8.90478203e+00,  2.06868039e+14,
        2.06868039e+14,  2.06868039e+14])

- 상관계수

Hint: corr 함수 이용.

In [96]:
# 상관계수 구하기
df = pd.DataFrame({'y_pred' : pred, 'y_true' : y_test})
df['y_pred'].corr(df['y_true'])

0.7604225561700552

# 2. Polynomial features

In [43]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
import pandas as pd

In [40]:
# 임의 데이터 생성
X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [48]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환
poly_ftr = PolynomialFeatures(degree=2).fit_transform(X)
df_poly=pd.DataFrame(poly_ftr)

In [50]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
df_poly.columns=['1','x1','x2','x1^2','x1*x2','x2^2']
df_poly

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0